<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img [src]="slides[currentIndex].url" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="getPrev()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button class="carousel-control-next" type="button" (click)="getNext()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>
