<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>{{'LOGIN'| translate}}</h2>
       
        <mat-error *ngIf="!loginValid">
         {{'LOGIN_FORM_LOGIN_ALL_CREDINTIAL_WRONG'|translate}}
        </mat-error>
        <mat-form-field>
            <input matInput placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" [(ngModel)]="username" name="username" required>
          <mat-error>
            {{'EMAIL_ERROR'| translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>