<!-- auth.component.html -->
<div *ngIf="isAuthenticated$ | async ; else notAuthenticated">
  <h2>Welcome, {{ (user$ | async)?.name }}</h2>
  <app-home/>
</div>
<ng-template #notAuthenticated>
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm">
        <h2>{{'LOGIN'| translate}}</h2>
        <mat-error *ngIf="!loginValid">
         {{'LOGIN_FORM_LOGIN_ALL_CREDINTIAL_WRONG'|translate}}
        </mat-error>
        <mat-form-field>
            <input matInput 
            placeholder="{{'EMAIL_FIELD_PLACEHOLDER'|translate}}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" [(ngModel)]="username" name="username" required>
          <mat-error>
            {{'EMAIL_ERROR'| translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="{{'PASSWORD_FIELD_PLACEHOLDER'| translate}}" [(ngModel)]="password" name="password" required>
          <mat-error>
           {{'PASSWORD_ERROR'|translate}}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" 
        [disabled]="!loginForm.form.valid" (click)="login(username, password)">
        {{'LOGIN_BTN'| translate }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>


