<form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <div class="col-6">
        <div class="form-group">
          <label>Last Name</label>
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            placeholder="Enter Last Name"
            [ngClass]="{
              'is-invalid': submitted && f['lastName'].errors,
              'is-valid': !f['lastName'].errors }"
          />
          <div class="invalid-feedback" *ngIf="f['lastName'].errors">
            <div *ngIf="f['lastName'].errors['required']">
              Please Enter lastName
            </div>
            <div *ngIf="f['lastName'].errors['pattern']">
              Name cant be numbers
            </div>
          </div>
        </div>
      </div>

    <div class="form-group"> 
        <label for="">LastName</label>
        <input #lastName="ngModel" 
        [ngClass]="{
                      'is-invalid':
                        lastName.invalid && (lastName.invalid || lastName.touched),
                      'is-valid':
                        lastName.valid && (lastName.invalid || lastName.touched)
                    }" minlength="1" required class="form-control" 
                    type="text" [(ngModel)]="roomModel.lastName "
            placeholder="LastName here" name="isOn" ngModel />
        <div class="invalid-feedback">
            <p *ngIf="lastName.errors">Please fill LastName</p>
        </div>
    </div>

    <div class="form-group">  
        <label for="">NIC/Paaport</label>
        <input #nic="ngModel" [ngClass]="{
                          'is-invalid':
                             nic.invalid && ( nic.invalid ||  nic.touched),
                          'is-valid':
                             nic.valid && ( nic.invalid || nic.touched)
                        }" minlength="1" required class="form-control" 
                        type="text" [(ngModel)]="roomModel.nic"
            placeholder="Nic/Passport Number" name=" temperature" ngModel />
        <div class="invalid-feedback">
            <p *ngIf="nic.errors">Please fill Nic/Passport number</p>
        </div>
    </div>

    <div class="form-group">  
        <label for="">Email</label>
        <input #email="ngModel" [ngClass]="{
                          'is-invalid':
                             email.invalid && ( email.invalid ||  email.touched),
                          'is-valid':
                             email.valid && ( email.invalid || email.touched)
                        }" minlength="1" required class="form-control" 
                        type="text" [(ngModel)]="roomModel.email"
            placeholder="Email Here" name="Email" ngModel />
        <div class="invalid-feedback">
            <p *ngIf="nic.errors">Please fill email</p>
        </div>
    </div>

    <div class="form-group">  
        <label for="">number of days</label>
        <input #numOfDay="ngModel" [ngClass]="{
                          'is-invalid':
                          numOfDay.invalid && (  numOfDay.invalid || numOfDay.touched),
                          'is-valid':
                          numOfDay.valid && (  numOfDay.invalid ||  numOfDay.touched)
                        }" minlength="1" required class="form-control" 
                        type="text" [(ngModel)]="roomModel.numOfDays"
            placeholder="Nic/Passport Number" name="num of days" ngModel />
        <div class="invalid-feedback">
            <p *ngIf="nic.errors">Please fill Num of Days</p>
        </div>
    </div>

    <button [disabled]="f.invalid" class="btn btn-primary" type="submit" value="submit">
        Submit
    </button>

    <p *ngIf="!f.invalid">{{ f.value | json }}</p>

</form>