<form [formGroup]="roomDetailsForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">{{'FIRST_NAME'|translate}}</label>
    <input id="firstName" formControlName="firstName"
    placeholder="{{'FIRST_NAME'|translate}}"
           [ngClass]="{
             'is-invalid': (submitted || f['firstName'].touched) && f['firstName'].errors,
             'is-valid': (submitted || f['firstName'].touched) && !f['firstName'].errors
           }">
    <div *ngIf="(submitted || f['firstName'].touched) && f['firstName'].errors" class="error-message">
      <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
      <div *ngIf="f['firstName'].errors['pattern']">First Name must be 4-15 characters long and contain only letters</div>
    </div>
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName"
    placeholder="{{'LAST_NAME'|translate}}"
           [ngClass]="{
             'is-invalid': (submitted || f['lastName'].touched) && f['lastName'].errors,
             'is-valid': (submitted || f['lastName'].touched) && !f['lastName'].errors
           }">
    <div *ngIf="(submitted || f['lastName'].touched) && f['lastName'].errors" class="error-message">
      <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
      <div *ngIf="f['lastName'].errors['pattern']">Last Name must be 4-15 characters long and contain only letters</div>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email"
    placeholder="{{'EMAIL'| translate}}"
           [ngClass]="{
             'is-invalid': (submitted || f['email'].touched) && f['email'].errors,
             'is-valid': (submitted || f['email'].touched) && !f['email'].errors
           }">
    <div *ngIf="(submitted || f['email'].touched) && f['email'].errors" class="error-message">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors['pattern']">Email must be a valid email address</div>
    </div>
  </div>

  <div>
    <label for="nic">NIC:</label>
    <input id="nic" formControlName="nic"
    placeholder="{{'NIC'|translate}}"
           [ngClass]="{
             'is-invalid': (submitted || f['nic'].touched) && f['nic'].errors,
             'is-valid': (submitted || f['nic'].touched) && !f['nic'].errors
           }">
    <div *ngIf="(submitted || f['nic'].touched) && f['nic'].errors" class="error-message">
      <div *ngIf="f['nic'].errors['required']">NIC is required</div>
      <div *ngIf="f['nic'].errors['pattern']">NIC must be 9 digits followed by 'V' or 'v'</div>
    </div>
  </div>

  <div>
    <label for="numOfDays">Number of Days:</label>
    <input id="numOfDays" formControlName="numOfDays"
    placeholder="{{'NUMOFDAYS'|translate}}"
           [ngClass]="{
             'is-invalid': (submitted || f['numOfDays'].touched) && f['numOfDays'].errors,
             'is-valid': (submitted || f['numOfDays'].touched) && !f['numOfDays'].errors
           }">
    <div *ngIf="(submitted || f['numOfDays'].touched) && f['numOfDays'].errors" class="error-message">
      <div *ngIf="f['numOfDays'].errors['required']">Number of Days is required</div>
      <div *ngIf="f['numOfDays'].errors['pattern']">Number of Days must be 1-2 digits</div>
    </div>
  </div>
  <button type="submit" [disabled]="!roomDetailsForm.valid">{{'ADDROOM_BTN'| translate}}</button>
</form>
